<form action="/payment/results">
  <label for="earl">APR</label>
  <input id="earl" type="text" name="apr">

  <label for="fanny">Number of years</label>
  <input id="fanny" type="text" name="yrs">

  <label for="greg">Principal</label>
  <input id="greg" type="text" name="princ">

  <button>Calculate monthly payment</button>
</form>
