<form action="/random/results">
  <label for="carl">Minimum</label>
  <input id="carl" type="text" name="min">

  <label for="darry">Maximum</label>
  <input id="darry" type="text" name="max">

  <button>Pick random number</button>
</form>
